DATABASE_URL=""
DIRECT_URL=""
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
HEALTH_CHECK_SECRET="change-me"
HEALTH_CHECK_BASE_URL="http://localhost:3000"
ALERT_WEBHOOK_URL=""
IP_GEO_PROVIDER="disabled"
IP_GEO_API_KEY=""
IP_GEO_TIMEOUT_MS="1500"
PRIVACY_MODE="balanced"
MASK_IP="true"
STORE_RAW_IP="true"
ENABLE_IP_ENRICHMENT="true"
ENABLE_EXACT_LOCATION="false"
ENABLE_FINGERPRINTING="false"
REQUIRE_CONSENT_FOR_ENRICHMENT="false"
ADMIN_LOGIN_PIN=""
ADMIN_SESSION_SECRET=""
